<%= form_with model:book, local:true do |f| %>
  <%= render "layouts/errors", book: book %>
  <div class="form-group pr-5" >
    <div class="inputsm py-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control input-sm" %>
    </div>

    <div class="inputsm py-3">
      <%= f.attachment_field :image, class: "form-control input-sm" %>
    </div>

    <div class="inputlg py-3">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control input-lg", rows: "5" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
