
<div class="container">
  <div class="row">
    <div class="col-7">
      <p><strong>Title: </strong><%= @book.title %></p>
      <p><strong>Body: </strong><%= simple_format @book.body %></p>
    </div>
    <div class="col-5">
      <div class="bd-placeholder-img m-2 p-2" width="100%" height="100">
       <%=attachment_image_tag(@book, :image, :fill, 200, 200, fallback: "nophoto_thumbnail.png") %>
      </div>
      <div>
        <%= render "favorites/favorite", book: @book %>
      </div>

      <%= link_to 'Edit', edit_book_path(@book), class: "edit_#{@book.id}" %> |
      <%= link_to 'Back', books_path, class: "back" %> |
      コメント数:<%= @book.book_comments.count %>

      <div class="my-3">
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
          コメントする
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">コメント</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, row: "5", class: "form-control" %></br>
          </div>
          <%= f.submit "送信する"%>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <table class="table">
      <% @book.book_comments.each do |book_comment| %>
        <tr>
          <th class="h6"><%= book_comment.user.name %></th>
          <th><p><%= simple_format book_comment.comment %></p></th>
          <th>
            <p><small><%= book_comment.created_at.strftime('%Y/%m/%d')%></small>
            <% if book_comment.user == current_user %>
                <%= link_to book_book_comment_path(book_id: @book, id: book_comment), method: :delete do %>
                　<i class="far fa-trash-alt"></i></p>
                <% end %>
            <% end %>
          </th>
        </tr>
      <% end %>
    </table>
  </div>
</div>

