<!DOCTYPE html>
<html>
  <head>
    <title>Bookers1-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/94745a7972.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <% if user_signed_in? %>
            <%= link_to books_path, class: "navbar-brand" do %>
              <i class="fas fa-book-open"></i>
            <% end %>
          <% else %>
            <%= link_to root_path, class: "navbar-brand" do %>
              <i class="fas fa-book-open"></i>
            <% end %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to "Home", user_path(current_user), class: "nav-link active nav-item px-3"  %></li>
                <li><%= link_to "Books", books_path, class: "nav-link nav-item px-3"%></li>
                <li><%= link_to "Favorites", user_favorites_path(current_user), class: "nav-link nav-item px-3"%></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link nav-item px-3" %></li>
              <% else %>
                <li><%= link_to "Home", root_path, class: "nav-link active nav-item px-3"  %></li>
                <li><%= link_to "Books", books_path, class: "nav-link nav-item px-3"%></li>
                 <li><%= link_to "Log in", new_user_session_path, class: "nav-link nav-item px-3"%></li>
                 <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link nav-item px-3"%></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>


      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <%= yield %>


  </body>
</html>
